### **Assignment 1**

**Task 1**

(1) Install Jupyter notebook and run the first program and share the screenshot of the output

[Link](https://drive.google.com/file/d/1U2gPsZeZ96pe74x43TNYQaEROccUboec/view?usp=sharing)

(2) Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [0]:
a = []

In [0]:
for x in range(2000, 3201):
    if (x % 7 == 0) and (x % 5 != 0):
        a.append(str(x))

In [0]:
print(','.join(a))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199


(3) Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [0]:
fname = input("Enter your first name: ")

Enter your first name: Dharmik

In [0]:
lname = input("Enter your last name: ")

Enter your last name: Trivedi

In [0]:
print(fname[::-1] + ' ' + lname[::-1])

kimrahD idevirT

(4) Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r

In [0]:
d = 12.0
r = d/2
pi = 22/7

In [0]:
v = 4.0/3.0 * pi * r**3

In [0]:
v

905.142857142857

In [0]:
print("volume of a sphere with diameter 12 cm is " + str(v))

volume of a sphere with diameter 12 cm is 905.142857142857

**Task 2**

(1) Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [0]:
a = input("Enter your values with comma: ")

Enter your values with comma: 1,2,3,4

In [0]:
b = a.split(",")

In [0]:
print(b)

['1', '2', '3', '4']

(2) Create the below pattern using nested for loop in Python

In [0]:
for i in range(5):
    for j in range(i):
        print('*', end='')
    print('')
for i in range(5, 0, -1):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****
*****
****
***
**
*

(3) Write a Python program to reverse a word after accepting the input from the user.


Sample Output:


Input word: Ineuron

Output: noruenI

In [1]:
a = input()

AcadGild

In [2]:
print(a[::-1])

dliGdacA

(4) Write a Python Program to print the given string in the format specified in the sample output.



WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens


Sample Output:

WE, THE PEOPLE OF INDIA,

having solemnly resolved to constitute India into a SOVEREIGN, !

SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC

and to secure to all its citizens

In [3]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens